    <!-- Footer -->
    <footer class="fill-midnight dark contain" id="footer">
		<div class="limiter">
		      <div class="pad2y clearfix">
		        <div class="space-bottom1 col12  clearfix footer-links">
		          <div class="col3 pad4x hide-mobile">
		            {% include svg/logo-footer.svg %}
		          </div>
		          <div class="col9">
		          	<div class="col12 clearfix keyline-bottom">
			          <nav class="col4 pad2">
			            <a href="{{site.baseurl}}/program/" class="animate quiet block">Program</a>
			            <a href="{{site.baseurl}}/venue/" class="animate quiet block">Venue</a>
			          </nav>
			          <nav class="col4 pad2">
			            <p href="" class="animate quiet ">Scholarships</p>
			            <p href="" class="animate quiet ">Social events</p>
			          </nav>
			          <nav class="col4 pad2">
			            <a href="{{site.baseurl}}/codeofconduct/" class="animate quiet ">Code of conduct</a>
			          </nav>
			       </div>
			       <div class="col12 clearfix keyline-bottom">
			          <nav class="col6 pad2x pad1y">
			      		 	<a class="small" href="https://twitter.com/sotm/"><i class="fa fa-fw fa-twitter dark space-right0"></i>Follow us on twitter</a>
			       		</nav>
			          <nav class="col6 pad2x pad1y">
			      		 	<a class="small"  href="https://blog.openstreetmap.org/category/sotm-2/"><i class="fa fa-fw  fa-bookmark dark space-right0"></i>Read the OSM blog</a>
			       		</nav>
			       </div>
		        </div>
			    </div>
		      </div>
		          <div class="pad2x margin3">
     				   <p class="small quiet">Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
   				</div>
		    </div>
    </footer>

