<section class="fill-light " id="livestream">
	<div class="limiter pad8y clearfix">
	<div class=" col8 margin2 margin2r">
	<h1 class="center space-bottom4">Watch the live stream</h1>

<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=tMV4V0KsKzE">Day 1 Room QA</a></div>
<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=YQJUlUdQfZc">Day 1 Room QC</a></div>
<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=iuYx8ESZzHA">Day 2 Room QA</a></div>
<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=yTJpUjuQZME">Day 2 Room QC</a></div>
<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=nwp2Ppq3D08">Day 3 Room QA</a></div>
<div class="fill-white pad2x pad0y round space-bottom0"><a href="https://www.youtube.com/watch?v=Sohp7T6ny1g">Day 3 Room QC</a></div>

    </div>
    </div>
</section>
