<section class="fill-light contain center" id="sponsors">
	<div class="limiter pad8y clearfix center">

	<h2 class="">Interested in sponsoring? </h2>
	<p class="pad2y">Send us an email at <a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a> to receive the sponsorship package.</p>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>

	</div>
</section>