


<section class="fill-light contain" id="sponsors">
	<div class="limiter pad4y clearfix">

	<div class="col12  keyline-bottom space-bottom4 contain center pad4y">
		<h2 class="space-bottom1">Interested in sponsoring? </h2>
		<p class="">Download <a href="sponsorship-package.pdf">the sponsorship package</a> and email us at <a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a> for more information.</p>
	</div>



<!--     <h3 class="small-title uppercase dark-text">Platinum</h3>
    <div class="clearfix space-top2 space-bottom2">

		<p class="varela">This could be you!</p>
		<div class="col5  space-bottom2">
		</div>
		<div class="col5 space-left1 space-bottom2">
		</div>
	</div>

    <h3 class="small-title pink-text uppercase">Gold</h3>
    <div class="clearfix space-top2 space-bottom2">
		<p class="varela">This may be you</p>
		<div class="col3  space-bottom2">
		</div>
		<div class="col3 space-left1  space-bottom2">
		</div>
		<div class="col3 space-left1   space-bottom2">
		</div>
	</div>


    <h3 class="smaller-title uppercase">Silver</h3>

    <div class="clearfix space-top2 space-bottom2">
		<p class="varela">This may be you</p>
		<div class="col2 margin0r space-bottom2">
		</div>
		<div class="col2 margin0r  space-bottom2">
		</div>
		<div class="col2 margin0r  space-bottom2">
		</div>
	</div>
 -->

   	 <h3 class="uppercase">Bronze</h3>

    <div class="clearfix space-top2 space-bottom2">
		<div class="col2 margin0r space-bottom2">
		<img src="logos/mapme.png">
		</div>
		<div class="col2 margin0r  space-bottom2">
		<img src="logos/mapillary.png">
		</div>
		<div class="col2 margin0r  space-bottom2">
		</div>
	</div>

	<div class="space-bottom4">
    <h4 class="uppercase space-bottom1 space-top4">Supporter</h4>

		<p class="varela">Mousebird consulting inc</p>

	</div>
	</div>
</section>