---
layout: program
color: fill-midnight
themes:
  - key: all
    label: All
  - key: analysis
    label: Analysis
  - key: community-growth
    label: Community Growth
  - key: education
    label: Education
  - key: humanitarian
    label: Humanitarian
  - key: indoors
    label: Indoors
  - key: local-community
    label: Local Community
  - key: technical
    label: Technical
  - key: tools
    label: Tools
  - key: birds-of-feather
    label: Birds of feather
---

    <div class='pad4y col12 clearfix prose'>
      <div class='col12 space-bottom4 contain'>

        <div
          id='program-intro'
          class='col12 clearfix space-bottom4'>
          <div class='col8'>
            <h1 class="color-purple2 spartan">Overview</h1>
            <p class="sans">State of the Map 2016 is taking place from <b>September 23rd to 25th 2016</b> in Brussels, Belgium. Meet us at <a href="http://www.openstreetmap.org/way/306160028">Building Q</a>, <a href="http://2016.stateofthemap.org/venue/">Vrije Universiteit Brussel</a>.</p>
            <p class="sans">You may also be interested in the humanitarian mapping events immediatly prior to State of the Map, and the developers hack event immediatly after. Here is the outline of the events in Brussels:</p>
            <ul>
              <li><b>Thursday, September 22nd:</b> <a href="http://summit.hotosm.org/">HOT Summit</a> at the BTC Conference Center and <a href="http://2016.foss4g.be/">FOSS4G Belgium</a> at Brussels Environment and Energy Agency, followed by a  Missing Maps <a href="http://hotmapathon.eventbrite.com/">evening mapathon</a>. In the evening, State of the Map attendees are welcome to informally gather at pubs on <a href="http://www.openstreetmap.org/way/31414790">Rue Saint-Boniface</a>.</li>
              <li><b>Friday, September 23rd:</b> Join us for day one of State of the Map. Details of the talks are below, with additional space available for informal <a href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_2016/Informal_Sessions">Birds of a Feather</a> meetings.</li>
              <li><b>Saturday, September 24th:</b> We move to day two of State of the Map. Our scheduled program of talks is below, and <a href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_2016/Informal_Sessions">Birds of a Feather</a> sessions are possible. In the evening join us at <a href="http://eventbrewery.eu/">Brussels Event Brewery</a> for free food and drink (7-11pm).
              <iframe width="100%" height="300px" frameBorder="0" src="http://umap.openstreetmap.fr/nl/map/sotm-brussels_98532?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe><p><a href="http://umap.openstreetmap.fr/nl/map/sotm-brussels_98532">Full screen map</a></p>
              </li>
              <li><b>Sunday, September 25th:</b> The third and final day of State of the Map will focus on workshops and sharing knowledge. Together we'll discover the next great thing in mapping and hacking but please be kind to our network (bandwidth currently unconfirmed).</li>
              <li><b>Monday, September 26th:</b> Stay on after State of the Map for a <a href="https://blog.openstreetmap.org/2016/08/10/hackday-at-state-of-the-map/">dedicated hack day</a> courtesy of OpenStreetMap Belgium and OSGeo BE communities, sponsored by <a href="http://www.bruxellesenvironnement.be/">Bruxelles Environnement</a> and <a href="http://www.innoviris.be/en?set_language=en">Innoviris</a>.</li>
            </ul>
            <h1 class="color-purple2 spartan">Android app</h1>
            <p class='sans'>The program is available as <a href="../sotm.apk">app for Android</a>.
            <h1 class="color-purple2 spartan">Our program</h1>
            <p class='sans'>We've got an amazing program of talks and workshops lined up for you. The difficult bit is deciding which track to go to. All the info on the talks is provided below.</p>
          </div>
        </div>
        <header class='js-fixed program-header fill-purple dark z1 col12 mobile-cols clearfix keyline-all contain'>
          <div class='col8 truncate pad1 js-date'>Friday</div>
          <div class='col4 keyline-left'>
            <a href='#' class='js-dropdown-trigger quiet pad1 block truncate'>
              <span class='dot pad0 inline fill-all'></span>
              All categories
            </a>
            <div class='js-dropdown dropdown scroll-styled col4 hidden pin-topright z1 keyline-all'>
              {% for theme in page.themes %}
                <a href='#' data-category='{{theme.key}}' data-label='{{theme.label}}' class='quiet block pad1x pad0y keyline-bottom js-category'>
                  <span class='dot pad0 inline fill-{{theme.key}}'></span>
                  {{theme.label}}
                </a>
              {% endfor %}
            </div>
          </div>
        </header>

        <!-- Friday -->
        <div
          data-title='Friday 8:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken01 keyline-right timestamp'>8:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 9:15am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Opening Session</span> <span class='light'>VUB Building Q</span>
          </label>
        </div>

        <div
          data-title='Friday 9:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:30am</span>
            <span class='pad1 inline'>Keynote Ambassador Allan Mustard</span> <span class='light'>VUB Building Q</span>
          </label>
        </div>
        <div
          data-title='Friday 10:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:00am</label>
        </div>
        <div
          data-title='Friday 10:00am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot1 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot2 reversed %}
          {% capture time %}10:30am{% endcapture %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:00am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 11:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot3 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 12:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot4 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot5 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Friday 1:50pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:50pm</span>
            <span class='pad1 inline'>Group Photo</span>
          </label>
        </div>

        <div
          data-title='Friday 2:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot6 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 2:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot7 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot8 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:40pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 4:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot9 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 4:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot10 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>5:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot11 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>
        <div
          data-title='Friday 5:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:40pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>
<!--
        <div
          data-title='Friday 7:30pm'
          class='program-block space-bottom4 keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>7:30pm</span>
            <span class='pad1 inline'>Social</span>
          </label>
        </div>
-->
        <!-- Saturday -->
        <h2>Saturday</h2>
        <div
          data-title='Saturday 8:30am'
          class='program-block keyline-all fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>8:30am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 9:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>9:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot12 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot13 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot14 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 11:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:00am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 11:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot15 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot16 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot17 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Saturday 2:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot18 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 2:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot19 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot20 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:30pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 4:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot21 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 4:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot22 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 5:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>5:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot23 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 5:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:30pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>
      </div>

      <!-- SUNDAY -->
      <h2>Sunday</h2>

      <div data-title="Sunday 9:30am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">9:00am</span>
          <span class="pad1 inline">Coffee / Tea</span>
        </label>
      </div>

      <div data-title="Sunday 10:00am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>10:00am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% assign posts = site.tags.slot31 | sort:"track" %}
        {% for post in posts %}
        {% include slot-item-small.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 11:15am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">11:15am</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 11:45am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>11:45am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% assign posts = site.tags.slot32 | sort:"track" %}
        {% for post in posts %}
        {% include slot-item-small.html %}
        {% endfor %}
      </div>


      <div data-title="Sunday 1:00pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">1:00pm</span>
          <span class="pad1 inline">Lunch</span>
        </label>
      </div>

      <div data-title="Sunday 2:00pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>2:00pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% assign posts = site.tags.slot33 | sort:"track" %}
        {% for post in posts %}
        {% include slot-item-small.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 3:15pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">3:15pm</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 3:45pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>3:45pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% assign posts = site.tags.slot34 | sort:"track" %}
        {% for post in posts %}
        {% include slot-item-small.html %}
        {% endfor %}
      </div>


      <div data-title="Sunday 5:00pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">5:00pm</span>
          <span class="pad1 inline">Closing session</span> <span class='light'>VUB Building Q.A</span>
        </label>
      </div>

      <div data-title="Sunday 5:30pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">5:30pm</span>
          <span class="pad1 inline">End</span>
        </label>
      </div>

      </div>



    </div>
<script src='{{site.baseurl}}/program/affix.js'></script>
<script src='{{site.baseurl}}/program/program.js'></script>
